In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [2]:
#Loading the Dataset
Food_Choice = pd.read_csv('food_choice.csv')
Food_Choice

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

Exploring the Dataset using .head() and .tail()

In [3]:
Food_Choice.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [4]:
Food_Choice.tail()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [5]:
# Getting of the dataset information
Food_Choice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   98 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

In [6]:
# Getting of the summary statistics
Food_Choice.describe()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,...,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories
count,125.000000,125.000000,125.000000,106.000000,124.000000,125.00000,106.000000,122.000000,125.000000,108.000000,...,124.000000,124.000000,124.000000,123.000000,125.000000,124.000000,125.000000,125.000000,125.000000,125.000000
mean,1.392000,1.112000,577.320000,3.028302,505.241935,1.75200,2.698113,2.786885,2.688000,1.388889,...,2.806452,3.120968,1.217742,1.390244,3.336000,947.580645,555.040000,4.008000,1.512000,1073.400000
std,0.490161,0.316636,131.214156,0.639308,230.840506,0.43359,1.972042,1.038351,1.910987,0.974759,...,1.423824,1.115980,0.414385,0.489800,1.436528,202.090179,152.370379,1.081337,0.501867,248.667092
min,1.000000,1.000000,265.000000,2.000000,315.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,580.000000,345.000000,1.000000,1.000000,575.000000
25%,1.000000,1.000000,430.000000,3.000000,420.000000,2.00000,2.000000,2.000000,2.000000,1.000000,...,2.000000,2.000000,1.000000,1.000000,2.000000,725.000000,500.000000,3.000000,1.000000,900.000000
50%,1.000000,1.000000,610.000000,3.000000,420.000000,2.00000,2.000000,3.000000,2.000000,1.000000,...,3.000000,3.000000,1.000000,1.000000,3.000000,940.000000,500.000000,4.000000,2.000000,900.000000
75%,2.000000,1.000000,720.000000,3.000000,420.000000,2.00000,3.000000,3.000000,3.000000,1.000000,...,4.000000,4.000000,1.000000,2.000000,5.000000,1165.000000,690.000000,5.000000,2.000000,1315.000000
max,2.000000,2.000000,720.000000,4.000000,980.000000,2.00000,9.000000,5.000000,9.000000,6.000000,...,5.000000,6.000000,2.000000,2.000000,5.000000,1165.000000,850.000000,5.000000,2.000000,1315.000000

In [7]:
# Check for missing values
Food_Choice.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         27
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [8]:
# Fill missing values with the meaan
Food_Choice['calories_day'].fillna(Food_Choice['calories_day'].mean(), inplace=True)
Food_Choice['calories_day']

C:\Users\TURNING POINT\AppData\Local\Temp\ipykernel_1416\1536865599.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Food_Choice['calories_day'].fillna(Food_Choice['calories_day'].mean(), inplace=True)

0      3.028302
1      3.000000
2      4.000000
3      3.000000
4      2.000000
         ...
120    4.000000
121    2.000000
122    3.028302
123    4.000000
124    3.028302
Name: calories_day, Length: 125, dtype: float64

In [9]:
# Replace invalid string values with NaN and then convert to numeric
Food_Choice['weight'] = pd.to_numeric(Food_Choice['weight'].str.replace("Not sure", "", regex=False), errors='coerce')

In [10]:
#Using the code below to drop multiple columns that are not useful to me
Food_Choice.drop(columns=['GPA', 'meals_dinner_friend', 'life_rewarding', 'comfort_food_reasons', 'eating_changes'],  inplace=True)

In [11]:
# Checking for duplicates
Food_Choice.drop_duplicates (inplace=True)

In [12]:
# Fill missing values with the mean
Food_Choice['comfort_food_reasons_coded'].fillna(Food_Choice['comfort_food_reasons_coded'].mean(), inplace=True)

C:\Users\TURNING POINT\AppData\Local\Temp\ipykernel_1416\3254157508.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Food_Choice['comfort_food_reasons_coded'].fillna(Food_Choice['comfort_food_reasons_coded'].mean(), inplace=True)

In [13]:
# Fill all missing values in numerical columns with their median
numerical_cols= Food_Choice.select_dtypes(include=['number']).columns
Food_Choice[numerical_cols] = Food_Choice[numerical_cols].fillna(Food_Choice[numerical_cols].median())

In [14]:
# Fill all missing values in categorical columns with the most common value (mode)
categorical_cols = Food_Choice.select_dtypes(include=['object']).columns
Food_Choice[categorical_cols] = Food_Choice[categorical_cols].fillna(Food_Choice[categorical_cols].mode().iloc[0])

In [15]:
#To confirm if there is no missing value
Food_Choice.isnull().sum()

Gender                          0
breakfast                       0
calories_chicken                0
calories_day                    0
calories_scone                  0
coffee                          0
comfort_food                    0
comfort_food_reasons_coded      0
cook                            0
comfort_food_reasons_coded.1    0
cuisine                         0
diet_current                    0
diet_current_coded              0
drink                           0
eating_changes_coded            0
eating_changes_coded1           0
eating_out                      0
employment                      0
ethnic_food                     0
exercise                        0
father_education                0
father_profession               0
fav_cuisine                     0
fav_cuisine_coded               0
fav_food                        0
food_childhood                  0
fries                           0
fruit_day                       0
grade_level                     0
greek_food                      0
healthy_feeling                 0
healthy_meal                    0
ideal_diet                      0
ideal_diet_coded                0
income                          0
indian_food                     0
italian_food                    0
marital_status                  0
mother_education                0
mother_profession               0
nutritional_check               0
on_off_campus                   0
parents_cook                    0
pay_meal_out                    0
persian_food                    0
self_perception_weight          0
soup                            0
sports                          0
thai_food                       0
tortilla_calories               0
turkey_calories                 0
type_sports                     0
veggies_day                     0
vitamins                        0
waffle_calories                 0
weight                          0
dtype: int64

STEP THREE: OUTLIER DETECTION

In [16]:
# To remove outliers using IQR method for all numerical columns
def remove_outliers_iqr(df):
    numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
    for col in numeric_cols:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Keeping only rows within the IQR range
        df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
    return df  # Return the modified DataFrame

# Applying the function above to my DataFrame
Food_Choice_cleaned = remove_outliers_iqr(Food_Choice)

# Check results
print("Shape after removing outliers:", Food_Choice_cleaned.shape)

Shape after removing outliers: (3, 56)

In [17]:
Food_Choice.shape

(125, 56)

STEP FOUR: ENCODING CATEGORICAL DATA INTO NUMERICAL FORM

In [18]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Select categorical columns
categorical_cols = Food_Choice.select_dtypes(include=['object']).columns

# Apply Label Encoding to each categorical column
for col in categorical_cols:
    Food_Choice[col] = label_encoder.fit_transform(Food_Choice[col])

Food_Choice.head()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2,1,430,3.028302,315.0,1,110,9.0,2.0,9,...,1.0,1.0,1,1165.0,345,34,5,1,1315,187.0
1,1,1,610,3.000000,420.0,2,83,1.0,3.0,1,...,1.0,1.0,2,725.0,690,0,4,2,900,155.0
2,1,1,720,4.000000,420.0,2,98,1.0,1.0,1,...,1.0,2.0,5,1165.0,500,44,5,1,900,155.0
3,1,1,430,3.000000,420.0,2,59,2.0,2.0,2,...,1.0,2.0,5,725.0,690,44,3,1,1315,155.0
4,1,1,720,2.000000,420.0,2,34,1.0,1.0,1,...,1.0,1.0,4,940.0,500,24,4,2,760,190.0

STEP FIVE: NORMALIZATION (MIN-MAX SCALIING)

In [19]:
from sklearn.preprocessing import MinMaxScaler

# Select numerical columns
numerical_cols = Food_Choice.select_dtypes(include=['float64', 'int64']).columns

# Apply normalization
scaler = MinMaxScaler()
Food_Choice[numerical_cols] = scaler.fit_transform(Food_Choice[numerical_cols])

Food_Choice.head()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,1.0,0.0,0.362637,0.514151,0.000000,0.0,0.894309,1.000,0.25,1.000,...,0.0,0.0,0.00,1.000000,0.000000,0.596491,1.00,0.0,1.000000,0.527273
1,0.0,0.0,0.758242,0.500000,0.157895,1.0,0.674797,0.000,0.50,0.000,...,0.0,0.0,0.25,0.247863,0.683168,0.000000,0.75,1.0,0.439189,0.333333
2,0.0,0.0,1.000000,1.000000,0.157895,1.0,0.796748,0.000,0.00,0.000,...,0.0,1.0,1.00,1.000000,0.306931,0.771930,1.00,0.0,0.439189,0.333333
3,0.0,0.0,0.362637,0.500000,0.157895,1.0,0.479675,0.125,0.25,0.125,...,0.0,1.0,1.00,0.247863,0.683168,0.771930,0.50,0.0,1.000000,0.333333
4,0.0,0.0,1.000000,0.000000,0.157895,1.0,0.276423,0.000,0.00,0.000,...,0.0,0.0,0.75,0.615385,0.306931,0.421053,0.75,1.0,0.250000,0.545455

STEP SIX: TRAIN-TEST SPLIT

In [20]:
from sklearn.model_selection import train_test_split

# Define features and target (predicting diet)
X = Food_Choice.drop(columns=["weight"])  # Features
y = Food_Choice["weight"]  # Target variable

# Split data (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training set size: {X_train.shape[0]}")
print(f"Testing set size: {X_test.shape[0]}")

Training set size: 100
Testing set size: 25